:root,
html {
    font-size: 13pt;
}

body {
    color: #333333;
    background: white;
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.6;
    max-width: 50rem;
    padding: 2em;
    margin: auto;
}

abbr {
    cursor: help;
    text-decoration: rgb(112, 172, 128) wavy underline;
    -webkit-text-decoration: rgb(112, 172, 128) wavy underline;
    text-underline-offset: 1.5pt;
}

@media (hover: none) { 
    abbr {
        text-decoration: none;
        -webkit-text-decoration: none;
    }
}

p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

ul {
    margin-top: -4pt;
}

.loosenup li {
    margin-bottom: 4pt;
}

.flipped {
    display: inline-block;
    -moz-transform:    scaleX(-1);
    -o-transform:      scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform:         scaleX(-1);
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

h3 {
    font-size: 1.1rem;
}

.note {
    background-color: cornsilk;
    border-radius: 4pt;
    padding: 8pt;
}

.subtle-bubble {
    background-color: rgb(242, 245, 245);
    border-radius: 3pt;
    padding: 2pt;
}

/* Header */

.photo {
    text-align: center;
}

.photo img {
    border-radius: 50%;
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
    
    ul {
        padding-left: 1.1rem;
    }

    :root, html {
        font-size: 90%;
    }
    
    abbr {
        text-decoration: none;
        -webkit-text-decoration: none;
    }
}

@media screen {
    .only-print {
        display: none !important;
    }
}

/* Projects */

.showcase {
    width: 100%;
}

.showcase td {
    text-align: center;
    font-size: small;
}

.showcase .logo img:hover {
    opacity: 80%;
}

.showcase .description td {
    padding-bottom: 2em;
}

/* Experience */

h4.role  {
    margin-bottom: -8pt;
}

.experience-item {
    margin-bottom: 1.5em;
}

.employment-info {
    font-size: 90%;
}

/* Footer */

footer {
    font-size: 0.8rem;
    padding-top: 1rem;
}
