:root,
html {
    font-size: 17px;
}

body {
    color: black;
    background: white;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}


.container {
    max-width: 50rem;
    padding: 2em;
    margin: auto;
}

.container header h1 {
    font-size: 1.8rem;
}

.container h2 {
    font-size: 1.3rem;
    padding-top: 1.5rem;
}

.container h3 {
    font-size: 1.1rem;
    padding-top: 1rem;
}

/* Links */
.container a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted black;
}
.container a:hover {
    border-bottom: 1px solid black;
}

/* Sidenotes on profiles */

.kindahidden {
    color: #aaaaaa;
}

.kindahidden a {
    color: #777777;
}

/* Projects */

table.showcase {
    width: 100%;
    border-collapse: collapse;
}

table.showcase tr.logo td {
    padding-top: 1.5em;
    text-align: center;
}

table.showcase tr.description td {
    font-weight: normal;
    text-align: center;
    padding-bottom: 1.5em;
}

table.showcase td.onethird {
    width: 33.3%;
}

table.showcase td.half {
    width: 50%;
}

table.showcase td {
    width: 33.3%;
    font-weight: lighter;
    color: #666666;
}

img.ios {
    /*box-sizing: border-box;*/
    border-radius: 20px;
}

table.showcase tr.logo a {
    text-decoration: none;
    border-bottom: none;
}

table.showcase tr.logo a:hover {
    text-decoration: none;
    border-bottom: none;
}

.container ul li:not(:last-child) {
    margin-bottom: 0.3rem;
}

/* Footer */

footer.footer {
    font-size: 0.8rem;
    padding-top: 4rem;
}

footer.footer a  {
    border-bottom: none;
}
