:root,
html {
    font-size: default;
}

body {
    color: #333333;
    background: white;
    font-family: system-ui, -apple-system, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    max-width: 50rem;
    padding: 2em;
    margin: auto;
}

.flipped {
    display: inline-block;
    -moz-transform:    scaleX(-1);
    -o-transform:      scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform:         scaleX(-1);
}

.container header h1 {
    font-size: 1.8rem;
}

.container h2 {
    font-size: 1.3rem;
    padding-top: 1.5rem;
}

.container h3 {
    font-size: 1.1rem;
    padding-top: 1rem;
}

.note {
    background-color: cornsilk;
    border-radius: 4pt;
    padding: 4pt;
}

.soon {
    font-size: x-small;
}

/* Header */

.photo {
    text-align: center;
}

.photo img {
    border-radius: 50%;
}

/* Links */

.container a {
    text-decoration: none;
    border-bottom: 1px dotted black;
}
.container a:hover {
    border-bottom: 1px solid black;
}

/* Projects */

.showcase {
    width: 100%;
    border-collapse: collapse;
}

.showcase .logo td {
    padding-top: 1.5em;
    text-align: center;
}

.showcase .description td {
    padding-bottom: 1.5em;
    text-align: center;
}

/* Footer */

footer.footer {
    font-size: 0.8rem;
    padding-top: 1rem;
}

footer.footer a  {
    border-bottom: none;
}
