@import url("/shared/css/base.css");

:root {
    --callout-color: cornsilk;
}

.available-for-hire-callout {
    text-align: center;
    background-color: var(--callout-color);
    border-radius: 4pt;
    padding: 8pt;
}

/* Projects */

.showcase {
    width: 100%;

    & td {
        text-align: center;
        font-size: small;
    }

    @media (max-width: 480px) {
        .logo img {
            width: 50pt;
            height: 50pt;
        }
    }
    
    .logo img:hover {
        opacity: 50%;
    }
    
    .description td {
        padding-bottom: 2em;
    }
}

/* Experience */

h4.role  {
    margin-bottom: -8pt;
}

.experience-item {
    margin-bottom: 1.5em;

    & ul {
        margin-top: -4pt;
    }

    & img.employer-icon {
        float: left;
        margin-top: 5pt;
        margin-right: 12pt;
        
        width: auto;
        height: 46px;

        filter: grayscale(0.3);

        @media (max-width: 480px) {
            margin-top: auto;
            margin-right: 8pt;
            height: 20pt;
        }
    }
}

.employment-info {
    font-size: 90%;
}
