@import url("/shared/css/base.css");

:root {
    --callout-color: cornsilk;
}

.available-for-hire-callout {
    text-align: center;
    background-color: var(--callout-color);
    border-radius: 4pt;
    padding: 8pt;
}

/* Projects */

.showcase {
    width: 100%;
}

.showcase td {
    text-align: center;
    font-size: small;
}

@media (max-width: 480px) {
    .showcase .logo img {
        width: 50pt;
        height: 50pt;
    }
}

.showcase .logo img:hover {
    opacity: 50%;
}

.showcase .description td {
    padding-bottom: 2em;
}

/* Experience */

h4.role  {
    margin-bottom: -8pt;
}

.experience-item {
    margin-bottom: 1.5em;
}

.experience-item ul {
    margin-top: -4pt;
}

.employment-info {
    font-size: 90%;
}
