/* 
    Here we override default GitHub Gist styles to our preference.
 */

:root {
    --callout-background-color: rgb(246, 248, 250);
    --nested-callout-background-color: rgb(232, 233, 233);

    --code-font-family: ui-monospace, SFMono-Regular, Menlo, monospace;

    /*
        FIXME: <dmitry.rodionov>
        The default Gist stylesheets are based on these variables and yet
        they may not be available for some reason? Anyway, here they are.
    */
    --base-size-4: 4px;
    --base-size-8: 8px;
    --base-size-16: 0.75rem;
    --base-size-24: 1rem;
}

.gist {
    & .gist-file {
        border: 0;

        /* Hide anchor links for header elements */
        article .anchor-element {
            display: none;
        }

        /* Hide Gist metadata row */
        & .gist-meta {
            display: none;
        }
    }

    & .gist-data {
        border-bottom: 0;
        background-color: inherit;
    }

    .markdown-body {
        font-family: var(--primary-font-family);
        font-size: var(--primary-font-size);
        line-height: var(--primary-line-height);

        .highlight, pre, code {
            font-family: var(--code-font-family) !important;
            font-size: 85%;
            tab-size: 4;
            background-color: var(--callout-background-color);
        }

        & h1 {
            font-size: 1.8rem;
            margin-top: 1.5rem;
            border-bottom: 0;
        }

        & h2 {
            margin-top: 1.5rem;
            font-size: 1.3rem;
        }

        & h3 {
            margin-top: 1.5rem;
            font-size: 1.1rem;
        }

        & hr {
            background-color: var(--nested-callout-background-color);
        }

        blockquote {
            margin-left: 0;
            margin-right: 0;
            
            padding: 16px;

            border-color: var(--accent-color);
            border-radius: 6px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            color: var(--primary-text-color);
            background-color: var(--callout-background-color);

            & code {
                background-color: var(--nested-callout-background-color);
            }

            & h3 {
                margin-top: 0;
            }
        }

        .footnotes {
            & #footnote-label {
                display: none;
            }
            margin: var(--base-size-16);
        }
    }
}