* {
  margin: 0;
  padding: 0;
}

body {
    padding-bottom: 1%;
    width: 70%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
    font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
}

header {
    text-align: center;
    font-weight: lighter;
}

header h1 {
    font-size: 8em;
}

header h2 {
    font-size: 1.5em;
}

.summary {
    padding-bottom: 3em;
}

.to-the-right {
    font-size: 80%;
    text-align: right;
}

.downloads {
    text-align: center;
}

.downloads a.download-button {
    text-align: center;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.downloads a.download-button:hover {
    background: #227bb3;
    text-decoration: none;
}

footer {
    margin-top: 3em;
    margin-bottom: 2em;
}

footer p {
    font-size: 0.8em;
    font-weight: 200;
    text-align: center;
}
